body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d1c4e9, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #673ab7;
    font-family:'Times New Roman', Times, serif;
}

.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.input-group label {
    margin-right: 10px;
    color: black;
}

.input-group input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
}

.forgot {
    color: #673ab7;
    text-decoration: none;
}

.fas-fa-user{
    background-color: black;
}

.login-btn {
    background: #673ab7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn {
    background: #673ab7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.forgot-btn {
    background: #673ab7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.login{
    margin-top: 10px;
    font-size: 12px;
}

.signup {
    margin-top: 10px;
    font-size: 12px;
}

.signup a {
    color: #673ab7;
    text-decoration: none;
}
